-# = form.text_field :tag, placeholder: "tag"
= form.number_field :time, placeholder: "Time", step: "0.1"
= form.text_field :image, placeholder: "Image Url"
= form.text_area :text, placeholder: "comment", rows: "10"
<<<<<<< Updated upstream
= form.submit "SEND"
=======
-# = f.form.text_field :tag, placeholder: "tag"
= form.submit "SEND"

-# textでスペースが開くとrollbackする
>>>>>>> Stashed changes
