%h1 Twitter連携
%p= "name:" + @user[:nickname]
%p= "screen_name:" + @user[:name]
%p= "image_url:" + @user[:image_url]
%p= "description:" + @user[:description]
= link_to "logout" ,:controller => "sessions", :action => "destroy"
